[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/implot"]
	path = extern/implot
	url = https://github.com/epezent/implot.git
[submodule "extern/rang"]
	path = extern/rang
	url = https://github.com/agauniyal/rang.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/pugixml"]
	path = extern/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "extern/catch2"]
	path = extern/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "extern/fmtlib"]
	path = extern/fmtlib
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/python-skia"]
	path = extern/python-skia
	url = https://github.com/kyamagu/skia-python.git
